<!DOCTYPE html>
<html>
  <head>
    <title>CAVINNN App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">

    <style>

      .layout-nav{
        background-color: #f8f9fa;
      }

      .layout-title{
        background-color: #e8ecef;
        padding: 30px 0px 30px 0px;
      }

    </style>

  </head>

  <body>

    <div class="container">

      <!-- nav -->
      <div class="row layout-nav">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/search"><span class="nav-search">Search</span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/create"><span class="nav-create">Create</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin"><span class="nav-admin">Admin</span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <!-- title -->
      <div class="row layout-title">
        <div class="col-md-12">
          <h2>Event Management System</h2>
          <p>HKBU Event Management System is a web-based system for department and student societies to broadcast events and activities as well as registration. XDDDDD</p>
        </div>
      </div>

      <!-- body -->
      <%- body %>

    </div>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
      if( window.location.href === "http://localhost:1337/search" ){
        console.log("search");
        $(".nav-search").css("color", "rgba(0,0,0,1)");
      }
      if( window.location.href === "http://localhost:1337/create" ){
        console.log("create");
        $(".nav-create").css("color", "rgba(0,0,0,1)");
      }
      if( window.location.href === "http://localhost:1337/admin" ){
        console.log("admin");
        $(".nav-admin").css("color", "rgba(0,0,0,1)");
      }
    </script>
  </body>
</html>
