<div class="admin">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped admin-table">
        <tbody>
        <tr>
          <th>1</th>
          <td>Mark</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Jacob</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Larry</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>

  .admin{
    margin-top: 3%;
  }

  .admin-table tbody tr td{
    font-weight: bold;
    color: #3e73ff;
  }

</style>
