<div class="create">

  <form action="/create" method="POST">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEventName">Event Name:</label>
        <input type="text" class="form-control" id="inputEventName" name="Event[eventName]">
      </div>
      <div class="form-group col-md-6">
        <label for="inputImageURL">Image URL:</label>
        <input type="text" class="form-control" id="inputImageURL"  name="Event[imageURL]">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <div class="form-group">
          <label for="textareaShortDescription">Short Description:</label>
          <textarea class="form-control" id="textareaShortDescription" rows="6" name="Event[shortDesc]"></textarea>
        </div>
        <div class="form-group">
          <label for="textareaFullDescription">Full Description:</label>
          <textarea class="form-control" id="textareaFullDescription" rows="8" name="Event[fullDesc]"></textarea>
        </div>
      </div>

      <div class="form-group col-md-6">

        <div class="form-group">
          <label for="selectOrganizer">Organizer:</label>
          <select class="form-control custom-select" id="selectOrganizer" name="Event[organizer]">
            <option value="" disabled selected>Please pick one</option>
            <% allOption.allOrganizers.forEach(function(organizer){ %>
              <option><%= organizer %></option>
            <% }); %>
          </select>
        </div>

        <div class="form-group">
          <label for="inputEventDate">Event Date:</label>
          <div class="input-eventDate date">
            <input type="text" class="form-control" id="inputEventDate" name="Event[eventDate]"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>

        <div class="form-group">
          <label for="inputTime">Time:</label>
          <input type="text" class="form-control" id="inputTime" name="Event[time]">
        </div>

        <div class="form-group">
          <label for="selectVenue">Venue:</label>
          <select class="form-control custom-select" id="selectVenue" name="Event[venue]">
            <option value="" disabled selected>Please pick one</option>
            <% allOption.allVenue.forEach(function(venue){ %>
              <option><%= venue %></option>
            <% }); %>
          </select>
        </div>

        <div class="form-group">
          <label for="selectQuota">Quota:</label>
          <select class="form-control custom-select" id="selectQuota" name="Event[quota]">
            <% allOption.allQuota.forEach(function(quota){ %>
              <option><%= quota %></option>
            <% }); %>
          </select>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" value="true" id="checkHighlighted" name="Event[isHighlight]">
          <label class="custom-control-label" for="checkHighlighted">Highlighted Event</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </div>

    </div>

  </form>

</div>

<style>
  .create{
    margin-top: 3%;
  }
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">

  $('.form-group .input-eventDate.date').datepicker({
    format: 'yyyy-mm-dd',
    startDate: '-0d'
  });

</script>
