<div class="create">

  <form>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEventName">Event Name:</label>
        <input type="text" class="form-control" id="inputEventName">
      </div>
      <div class="form-group col-md-6">
        <label for="inputImageURL">Image URL:</label>
        <input type="text" class="form-control" id="inputImageURL">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <div class="form-group">
          <label for="textareaShortDescription">Short Description:</label>
          <textarea class="form-control" id="textareaShortDescription" rows="6"></textarea>
        </div>
        <div class="form-group">
          <label for="textareaFullDescription">Full Description:</label>
          <textarea class="form-control" id="textareaFullDescription" rows="8"></textarea>
        </div>
      </div>

      <div class="form-group col-md-6">

        <div class="form-group">
          <label for="selectOrganizer">Organizer:</label>
          <select class="form-control" id="selectOrganizer">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputEventDate">Event Date:</label>
          <input type="text" class="form-control" id="inputEventDate">
        </div>

        <div class="form-group">
          <label for="inputTime">Time:</label>
          <input type="text" class="form-control" id="inputTime">
        </div>

        <div class="form-group">
          <label for="selectVenue">Venue:</label>
          <select class="form-control" id="selectVenue">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="selectQuota">Quota:</label>
          <select class="form-control" id="selectQuota">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkHighlighted">
          <label class="form-check-label" for="checkHighlighted">
            Highlighted Event
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </div>

    </div>

  </form>

</div>

<style>
  .create{
    margin-top: 3%;
  }
</style>
