<div class="index">

  <div class="row">

    <% events.forEach( function(event) { %>
      <div class="col-md-6 highlight-item">
        <div class="row">
          <div class="col-md-12 highlight-item-title">
            <h5><a href="/detail/<%= event.id %>"><%= event.eventName %></a></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 highlight-item-img">
            <img src="<%= event.imageURL %>" />
          </div>
          <div class="col-md-7 highlight-item-content">
            <p><%= event.shortDesc %></p>
          </div>
        </div>
      </div>
    <% }); %>

  </div>

</div>

<style>

  .index{
    margin-top: 3%;
  }

  .highlight-item
  {
    border:2px solid #e8ecef;
    border-radius: 5px;
  }

  .highlight-item-title{
    margin: 2% 0px 0px 4%;
  }

  .highlight-item-title h5{
    color: #3e73ff;
  }

  .highlight-item-img{
    margin: 2% 0px 5% 3%;
  }

  .highlight-item-img img{
    width: 100%;
    height: 215.7px;
  }

  .highlight-item-content{
    margin: 2.5% 0px 0px 0px;
  }

  .highlight-item-content p{
    word-wrap: break-word;
  }

</style>
