<div class="registered">

  <div class="row">
    <h2>Registered events</h2>
  </div>

  <div class="row">

    <div class="col-md-4 reg-box">
      <div class="row">
        <div class="col-md-12 reg-img">
          <img src="http://articles.csdn.net/uploads/allimg/121206/156_121206105341_1.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-header">
          <h4>Singing Contest</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 reg-event-first">
          <p>Date: 2/9/2018</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-event">
          <p>Time: 19:00 - 20:00</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-event-last">
          <p>Venue: AC Hall</p>
        </div>
      </div>
      <br>
    </div>

    <div class="col-md-4 reg-box">
      <div class="row">
        <div class="col-md-12 reg-img">
          <img src="http://articles.csdn.net/uploads/allimg/121206/156_121206105341_1.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-header">
          <h4>Singing Contest</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 reg-event-first">
          <p>Date: 2/9/2018</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-event">
          <p>Time: 19:00 - 20:00</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-event-last">
          <p>Venue: AC Hall</p>
        </div>
      </div>
      <br>
    </div>

    <div class="col-md-4 reg-box">
      <div class="row">
        <div class="col-md-12 reg-img">
          <img src="http://articles.csdn.net/uploads/allimg/121206/156_121206105341_1.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-header">
          <h4>Singing Contest</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 reg-event-first">
          <p>Date: 2/9/2018</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-event">
          <p>Time: 19:00 - 20:00</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 reg-event-last">
          <p>Venue: AC Hall</p>
        </div>
      </div>
      <br>
    </div>

  </div>

</div>

<style>

  .registered{
    margin-top: 20px;
  }

  .reg-box{
    border: 2px solid #e8ecef;
    border-radius: 5px;
  }

  .reg-img img{
    width: 100%;

  }

  .reg-header{
    margin-top: 10px;
    margin-left: 5%;
  }

  .reg-header h4{
    color: #3e73ff;
  }

  .reg-event-first {
    margin-left: 7.5%;
    border-top: 2px solid #e8ecef;
    border-left: 2px solid #e8ecef;
    border-right: 2px solid #e8ecef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .reg-event {
    margin-left: 7.5%;
    border-top: 2px solid #e8ecef;
    border-left: 2px solid #e8ecef;
    border-right: 2px solid #e8ecef;
  }

  .reg-event-last {
    margin-left: 7.5%;
    border: 2px solid #e8ecef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .reg-event-first p {
    margin: 0px;
    padding: 10px 10px 10px 10px;
  }

  .reg-event p {
    margin: 0px;
    padding: 10px 10px 10px 10px;
  }

  .reg-event-last p {
    margin: 0px;
    padding: 10px 10px 10px 10px;
  }

</style>
