<div class="registration">

  <div class="row">

    <h2 class="registration-header">"<%= event.eventName %>" registered user:</h2>

    <br><br><br>

    <div class="col-md-12">
      <table class="table table-striped admin-table">
        <tbody>

        <tr>
          <th>userId</th>
          <th>username</th>
        </tr>

        <% event.registeredFor.forEach( function(user){ %>

          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
          </tr>

        <% }); %>

        </tbody>
      </table>
    </div>
  </div>

</div>

<style>

  .registration {
    margin-top: 3%;
  }

  .registration-header {
    color: #3e73ff;
  }

</style>
